@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}


.SinSentido {
    background-color: brown;
}

header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.736), rgba(0, 0, 0, 0.698)), url(imagenes/fondo.png); 
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover ;
    min-height: 90vh;
    display: flex;
    align-items:center;
    width: 100%; 
    box-sizing: border-box; 

  
}

.headerInicio h1 {
    font-size: 75px;
    line-height: 80px;
    color: rgb(0, 0, 0);
}


.menu {
    position: absolute;
    top: 0;
    left: 50;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.menu ul li {
    list-style: none;
    position: relative;
    float: left;
    padding: 15px;
    color: white;
}

body {
    background-image: linear-gradient(black, white)
}

.contenedor1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly; 
    padding: 10px;
    

}

.contenedor1 img {
    border-radius: 100%;
    width: auto;
}



.contenedor2 {
    display: flex;
    flex-direction: row;
    width: 100%;

}

.contenedor2 img {
    border-radius: 100%;
    width: auto;
}

.contenedor3 {
    display: flex;
    flex-direction: row;
    width: 100%;

}

.contenedor3 img {
    border-radius: 100%;
    width: auto;
}

.item {
    margin: 0 10px; /* Añade margen a los lados de cada elemento */
    text-align: center; /* Centra el texto dentro de cada item */
}





footer {
    background-color: black;
    height: 100%;
}

footer p {
    color: rgb(228, 228, 228);
    text-align:center;
}



